C:/Users/loren/Desktop/poggio[[:space:]]mirteto/geoportale[[:space:]]mirtense filter=lfs diff=lfs merge=lfs -text
.fx filter=lfs diff=lfs merge=lfs -text
C:/Users/loren/Desktop/poggio[[:space:]]mirteto/geoportale[[:space:]]mirtense/.fx filter=lfs diff=lfs merge=lfs -text
.fa filter=lfs diff=lfs merge=lfs -text
fa filter=lfs diff=lfs merge=lfs -text
